/* styling for header */
.nav {
    /* border: 2px solid red; */
    position: relative;
    margin: 0px;
    padding: 0px;

}

#nav-bar-first {
    /* border: 2px solid white; */
    display: block;
    color: aliceblue;
    justify-content: center;
    padding-left: 6px;
    padding-right: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 545px;
    margin-left: 86px;
}
/* styling for header ends  */

/*styling for the div containing search bar   */
.right {
    display: inline-block;
    border-radius: 4px;
    width: 9%;
    position: absolute;
    left: 76%;
    bottom: 96px;
    top:-15px;

}

/* styling for logo image  */
#img1 {
    margin-bottom: 23px;
    margin-top: -95px;
    margin-left: -48px;
    border-radius: 50%;
}

/* styling for search bar  */
.search {
    /* border: 2px solid white; */
    color: aqua;
    display: block;
    /* float: left; */
    padding-left: 189px;
    justify-content: center;
    padding-right: 56px;
    margin-right: 45px;
    margin-bottom: 66px;
    margin-left: 352px;

}
/* styling for sd  */ 
#sd {
    margin-bottom: 90px;
    border: 3px solid white;
    color: white;
    width: 229px;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

/* styling for bell icon  */
#bell {
    position: absolute;
    left: 87%;
    bottom: 97px;
    filter: invert();
    display: inline-block;
}

#bell:hover{
    color: yellow;
}
/* styling for bell icon ends  */

/* styling for dp image */ 
#top-image {
    position: absolute;
    left: 89%;
    bottom: 645px;
}
/* styling for Top releases heading */
.latest {
    padding-left: 2px;
    padding-top:12px;
    display: block;}

/* styling for song1 under top releases  */    
#latest1{
    margin-bottom: 45px;
    position: absolute;
    left: 35%;
    right: 3%;
    display: inline-block;
    width: 34px;
    height: 45px;
    bottom: 185px;
}

/* styling for song2 under top releases  */ 
#latest2{
    margin-bottom: 45px;
    position: absolute;
    left: 35%;
    right: 3%;
    display: inline-block;
    width: 34px;
    height: 45px;
    bottom: -59px;
}

/* styling for song3 under top releases  */ 

#latest3{
    margin-bottom: 45px;
    position: absolute;
    left: 1%;
    right: 3%;
    display: inline-block;
    width: 34px;
    height: 45px;
    bottom: -59px;
}

/* styling for song4 under top releases  */ 

#latest4{ 
    
    margin-bottom: 45px;
    position: absolute;
    left: 1%;
    right: 3%;
    display: inline-block;
    width: 34px;
    height: 45px;
    bottom: 186px;
}

/* styling for icon along the images in top releases*/ 
.icon:hover{
    color: yellow;
}

/* scollbar stylings  */

.mainbox{
    border: 2px solid whitesmoke;
    background-color: rgb(51, 51, 165);
    position: absolute;
    height: 1057px;
    width: 258px;
    display: inline-block;
    left: 1258px;
    top: -2105px;
    /* background-color: violet; */
    overflow: scroll;
}
/* carousel stylings  */
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

   

    /* ----- container stylings: 
    -> centers the whole content of the page
    -> defines width and height for container ----- */
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 1100px;
        height: 320px;
        position: absolute;
        left: 40px;
    }
    /* ----- end of container stylings ----- */

    /* provides padding to main heading */
    .main-heading {
        padding: 2rem 0 2rem 0;
    }
    /* defines position for the carousel container  */
    .content {
        position: relative;
    }

    /* ----- carousel content stylings ----- */
    /* places the carousel content on center of the carousel */
    .carousel-content {
        position: absolute;
        /*to center the content horizontally and vertically*/
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        text-align: center;
        z-index: 50;
    }
    /* carousel heading styling  */
    .carousel-heading {
        font-size: 3rem;
        color: #308d46;
        margin-bottom: 1rem;
    }
    /*----- end of carousel content stylings ----- */

    /* ----- slideshow stylings ----- */
    .slideshow {
        height: 100%;
        overflow: hidden; /* to hide slides in x-direction */
        position: relative;
    }
    /* wrapper which wraps all the slideshow images stylings */
    .slideshow-wrapper {
        display: flex;
        width: 400%;
        height: 100%;
        position: relative;
        /* animation styling */
        animation: slideshow 20s infinite;
     }
    /* define width and height for slide*/
    .slide {
        width: 100%;
        height: 100%;
    }
    /* width and height for the images in the slide */
    .slide-img {
        width: 100%;
        height: 100%;
        object-fit:fill; 
    }
    /* @keyframes are used to provide animation*/
    @keyframes slideshow {
        0%  { left: 0; }
        10% { left: 0; }
        15% { left: -100%; }
        25% { left: -100%; }
        30% { left: -200%; }
        40% { left: -200%; }
        45% { left: -300%; }
        55% { left: -300%; }
        60% { left: -200%; }
        70% { left: -200%; }
        75% { left: -100%; }
        85% { left: -100%; }
        90% { left: 0%; }
    }
    /* ----- end of slideshow stylings ----- */
